*.sdf
*.suo
*.ilk
*.pdb
*.exe
*.con

Win32/Release
TradeServer/Debug
TradeServer/GeneratedFiles
TradeServer/Release
TradeServer/Resources
TradeServer/TradeServer.vcxproj.user
!TradeServer/user/acount.ini